/*
Original PopStage website checkboard and halftone shadows

:root {
	--grid-size: 1rem;
	--grid-color: var(--color-perfume);
	
	--shadow-offset: 1rem;
	
	--dot-color: rgba(0, 0, 0, 0.25);
	--dot-size: 0.5rem;
	--dot-spacing: 0.3rem;

	--halftone:
			radial-gradient(var(--dot-color) 20%, transparent 24%) 0 0 / var(--dot-size) var(--dot-size),
			radial-gradient(var(--dot-color) 20%, transparent 24%) var(--dot-spacing) var(--dot-spacing) / var(--dot-size) var(--dot-size);
	
	--checkerboard:
			linear-gradient(var(--grid-color) 1px, transparent 1px, transparent) top center / var(--grid-size) var(--grid-size),
			linear-gradient(90deg, var(--grid-color) 1px, transparent 1px, transparent) top center / var(--grid-size) var(--grid-size);
} */

@font-face {
    font-family: 'Quicksand';
    src: url('/Quicksand.ttf') format('truetype');
    font-weight: 200 800;
    font-display: block;
}


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: auto;
    /* fix position sticky */
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    box-sizing: border-box;
    font-family: "Quicksand", system-ui, sans-serif;
    line-height: 140%;
    font-weight: 450;
    color: #444;
}

#toolbar {
    position: sticky;
    top: 0;
    /* border: 1px solid red; */
    /* left: 0; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 5vw 5vw 1rem 5vw;
    background-color: white;
    z-index: 999;
    /* outline: 1px solid rgba(0, 0, 0, 0.1); */
    /* border: 1px solid red; */
}

.toolbar-shadow {
    /* background-color: var(--c-plate); */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#participants {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    flex-grow: 1;
    /* border: 1px solid red; */
    /* width: 100%; */
}

.bubble {
    position: relative;
    overflow: hidden;

    /* width: 2.5rem; */
    max-width: fit-content;
    height: 2.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 0.8rem;
    border: 3px solid white;
    /* box-shadow: 0px 0px 0px 3px white inset; */

    width: 100%;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.bubble:not(:last-child) {
    margin-left: -0.5rem;
}

.you {
    order: 999;
}

button {
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 0.8rem;
    /* box-shadow: 0px 0px 0px 3px white inset; */

    width: 100%;
}

#bottomGradient {
    /* IMPORTANT, NOTHING IN THIS DIV WILL BE CLICKABLE */
    pointer-events: none;

    /* background-color: var(--bottombar-background-color); */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1));
    position: fixed;
    /* border-top: 1px solid rgba(0, 0, 0, 1); */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
}

#inputAdd {
    position: fixed;
    /* bottom: 0; */
    left: 50%;
    /* right: 2rem; */
    width: 100%;
    max-width: 20rem;
    /* margin: 0 auto; */

    transform: translateX(-50%) translateY(8rem);
    resize: none;
    display: block;
    height: 12rem;
    padding: 1rem;
    /* font-weight: 400; */
    /* font-size: 16px; */
    border-radius: 1rem;
    /* border-color: rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 2px 8px var(--shadow-color);

    background-color: var(--background-color);

    border: 2px solid var(--border-color);

    animation: slideIn 1s both cubic-bezier(0, 1.5, 0.5, 1);

    font-size: 1rem;
    font-weight: 600;
    line-height: 130%;
    font-family: "Quicksand", system-ui, sans-serif;
    color: var(--ink);
    /* transition: background-color 0.25s linear, transform 0.5s cubic-bezier(0, 1.5, 0.5, 1); */
    transition: box-shadow 0.2s cubic-bezier(0, 1.5, 0.5, 1), transform 0.5s cubic-bezier(0, 1.5, 0.5, 1);
}

@keyframes slideIn {
    from {
        bottom: -10rem;
    }

    to {
        bottom: 0;
    }
}

#inputAdd::placeholder {
    color: var(--placeholder);
}

#inputAdd:focus {
    /* background-color: white; */
    transform: translateX(-50%) translateY(-2rem);
    outline: unset;
    outline-offset: unset;
    border: 2px solid var(--border-color-focus);
    box-shadow: 0px 16px 32px var(--shadow-color);
}

#masonry {
    /* position: absolute; */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    background-color: white;

    padding: 0 5vw 10rem 5vw;

    --dimension: 9rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(14rem, 100%), 1fr));
}

.card {
    cursor: move;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* .card:hover>.bottomView>.deleteButton {
    display: block;
} */

.card.dragging {
    background: rgba(0, 255, 0, 0.2);
}

.card.dragover {
    background: rgba(0, 0, 255, 0.1);
}

.textContent {
    /* border: 1px solid red; */
    padding: 1rem 1.5rem;
    flex-grow: 1;
    /* display: flex; */
    /* justify-content: start; */
    /* align-items: start; */
    /* justify-content: center; */
    /* align-items: center; */
    height: fit-content;
    min-height: 4rem;
    /* overflow-wrap: break-word; */

    /* display: flex;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
    /* overflow: hidden; */
    overflow-y: auto;

    text-align: center;
    /* font-size: 1.1rem; */
}

#placeholderCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: 24rem;
    height: auto;

    /* border: 1px solid red; */

    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    opacity: 0;
    animation: fadeIn 0.3s forwards linear;

    /* line-height: 130%; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#placeholderCard:not(:only-child) {
    display: none;
}


.bottomView {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    padding: 0.25rem 1rem 0.5rem 1rem;
    font-size: 0.8rem;
}

author {
    display: block;
    display: block;

    text-align: left;
    font-weight: 600;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deleteButton {
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0, 1.5, 0.5, 1);
}

svg {
    display: block;
    width: 2rem;
    height: 2rem;
}

.deleteButton:hover {
    transform: scale(1.2);
    color: Crimson;
    font-variation-settings: 'wght' 900;
}